<div class="box-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
</div>
<div class="box-footer clearfix">
    <button type="reset" class="btn btn-warning pull-left"><i class="fa fa-times"></i> Cancel
    </button>
    <button id="submitForm" type="submit" class="btn btn-primary pull-right"><i
                class="fa fa-check-square"></i> Submit
    </button>
</div>
{{ form_end(form) }}
