<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="footer-logo">
                    <img src="../Resources/public/img/logo-blue.png" alt="Footer Logo Blue">
                </h1>

                <p>© Rezo 2015 - Designed &amp; by <a href="http://www.peterfinlan.com/">Peter Finlan</a></p>
            </div>
            <div class="col-md-8">
                <ul class="footer-nav">
                    <li><a href="#profil">Profil</a></li>
                    <li><a href="#projets">Projets</a></li>
                    <li><a href="#competences">Compétences</a></li>
                    <li><a href="#experiences">Expériences</a></li>
                    <li><a href="#formations">Formations</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>