{% extends "CoreBundle::layout.html.twig" %}
{% block body %}
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- open/close -->
    <header>
        <section class="hero">
            <div class="texture-overlay"></div>
            <div class="container">
                <div class="row nav-wrapper">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left socialicon">
                        <p><a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
                            <a
                                    href="#"><i class="fa fa-github"></i></a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                        <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle"
                                      href="#"><span></span></a>
                    </div>
                </div>
                <div class="row hero-content">
                    <div class="col-md-12">
                        <h1 class="animated fadeInDown">Rezo by Mathieu Geissler</h1>
                        <a href="#" class="use-btn animated fadeInUp">Contact</a> <a
                                href="#profil" class="learn-btn animated fadeInUp">CV en ligne <i
                                    class="fa fa-arrow-down"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <section class="screenshots" id="screenshots">
        <div class="container-fluid">
            <div class="row">
                <ul class="grid">
                    <li>
                        <figure>
                            <img src="../Resources/public/img/01-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/01.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>Optimised For Design</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Resources/public/img/02-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/02.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>User Centric Design</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Resources/public/img/03-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/03.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>Responsive and Adaptive</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Resources/public/img/04-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/04.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>Absolutely Free</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="grid">
                    <li>
                        <figure>
                            <img src="../Resources/public/img/05-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/05.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>Multi-Purpose Design</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Resources/public/img/06-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/06.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>Exclusive to Codrops</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Resources/public/img/07-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/07.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>Made with Love</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Resources/public/img/08-screenshot.jpg" alt="Screenshot 01">
                            <figcaption>
                                <div class="caption-content">
                                    <a href="../Resources/public/img/large/08.jpg" class="single_image">
                                        <i class="fa fa-search"></i><br>

                                        <p>In Sydney, Australia</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="video" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1><a href="{{ path('blog_homepage') }}"><i class="fa fa-link"></i> Voir le blog</a></h1>
                </div>
            </div>
        </div>
    </section>
    <section class="features-intro" id="profil">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 nopadding features-intro-img">
                    <div class="features-bg">
                        <div class="texture-overlay"></div>
                        <div class="features-img wp1">
                            <img src="../Resources/public/img/avatar.png" alt="User Avatar">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 nopadding">
                    <div class="features-slider">
                        <ul class="slides" id="featuresSlider">
                            <li>
                                <p>Après une expérience de cinq années en restauration rapide qui m'a permit d’acquérir
                                    de
                                    nombreuses compétences et une première expérience
                                    sérieuse dans le monde du travail, suite à un licenciement économique, je
                                    souhaiterais
                                    me réorienter afin de réaliser un métier qui me
                                    passionne depuis mon enfance.</p>
                            </li>
                            <li>
                                <p>Pendant mes nombreuses années de pratique, j’ai pu approfondir mes connaissances dans
                                    les
                                    différents systèmes d’exploitations (Linux, Mac et Windows), les réseaux (routeur,
                                    NAS),
                                    la domotique, et appris par moi-même la programmation de site internet (HTML5, CSS3,
                                    SQL, PHP et JavaScript), la programmation en Visual Basic .NET, C++ (Qt) ainsi
                                    qu’une
                                    initiation à WinDev et UML. </p>
                            </li>
                            <li>
                                <p>D’un caractère curieux, j’aime apprendre et je suis avide de nouvelles connaissances,
                                    autodidacte je continue en permanence mon apprentissage afin de pouvoir consolider
                                    mes
                                    compétences. Je suis également très appliqué et concentré dans mon travail ne
                                    comptant
                                    pas mes heures pour réussir, ce qui est indispensable en tant que développeur.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-list" id="projets">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-4 feature-1 wp2">
                        <div class="feature-icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="feature-content">
                            <h1>RezoSf</h1>

                            <p>Lab de développement basé sur le framework PHP Symfony, intègre actuellement un CV en
                                ligne
                                et un blog.</p>
                            <a href="https://github.com/mathieugeissler/RezoSf" class="read-more-btn">GitHub <i
                                        class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 feature-2 wp2 delay-05s">
                        <div class="feature-icon">
                            <i class="fa fa-flash"></i>
                        </div>
                        <div class="feature-content">
                            <h1>Rezo</h1>

                            <p>Model MVC en PHP.<br/>Routeur, Controlleur et Model sans librairie.<br/>Vue intégrée avec
                                Twig.</p>
                            <a href="https://github.com/mathieugeissler/Rezo" class="read-more-btn">GitHub <i
                                        class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 feature-3 wp2 delay-1s">
                        <div class="feature-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="feature-content">
                            <h1>LAVAL - UHA 4.0</h1>

                            <p>Plateforme d'apprenstissage de la prosodi en MVC.<br/>Réalisation des vues en HTML5/CSS3
                                avec
                                le framework Bootstrap.<br/>Réalisation du "player" en jQuery.</p>
                            <a href="https://github.com/UHA402/LAVAL" class="read-more-btn">GitHub <i
                                        class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="showcase" id="competences">
        <div class="showcase-wrap">
            <div class="texture-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wp3">
                        <h1>Programmation</h1>

                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">50 / 100</span>
                                </div>
                                <span class="progress-type-left">PHP Objet</span>
                                <span class="progress-completed-left">50%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 30%;">
                                    <span class="sr-only">30 / 100</span>
                                </div>
                                <span class="progress-type-left">C++ (QT)</span>
                                <span class="progress-completed-left">30%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40 / 100</span>
                                </div>
                                <span class="progress-type-left">JavaScript & jQuery</span>
                                <span class="progress-completed-left">40%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40 / 100</span>
                                </div>
                                <span class="progress-type-left">Visual Basic .NET</span>
                                <span class="progress-completed-left">40%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70 / 100</span>
                                </div>
                                <span class="progress-type-left">HTML5</span>
                                <span class="progress-completed-left">70%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60 / 100</span>
                                </div>
                                <span class="progress-type-left">CSS 3 & Bootstrap</span>
                                <span class="progress-completed-left">60%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">50 / 100</span>
                                </div>
                                <span class="progress-type-left">SQL & ORM</span>
                                <span class="progress-completed-left">50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-right wp6">
                        <h1>Informatique</h1>

                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90 / 100</span>
                                </div>
                                <span class="progress-completed-right">90%</span>
                                <span class="progress-type-right">Windows</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">50 / 100</span>
                                </div>
                                <span class="progress-completed-right">50%</span>
                                <span class="progress-type-right">Linux</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70 / 100</span>
                                </div>
                                <span class="progress-completed-right">70%</span>
                                <span class="progress-type-right">Mac OS</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60 / 100</span>
                                </div>
                                <span class="progress-completed-right">60%</span>
                                <span class="progress-type-right">Réseaux</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70 / 100</span>
                                </div>
                                <span class="progress-completed-right">70%</span>
                                <span class="progress-type-right">NAS Synology</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 20%;">
                                    <span class="sr-only">20 / 100</span>
                                </div>
                                <span class="progress-completed-right">20%</span>
                                <span class="progress-type-right">Raspbery pi</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 10%;">
                                    <span class="sr-only">10 / 100</span>
                                </div>
                                <span class="progress-completed-right">10%</span>
                                <span class="progress-type-right">Domotique</span>
                            </div>
                        </div>
                        <div class="skill text-right">
                            <div class="progress progress-right">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90 / 100</span>
                                </div>
                                <span class="progress-completed-right">90%</span>
                                <span class="progress-type-right">Assemblage</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screenshots-intro" id="experiences">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline">
                        <li class="wp4">
                            <div class="timeline-badge primary"><i class="fa fa-cutlery"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Mezzo di Pasta - Colmar</h3>

                                    <p>Assistant Manager
                                        <small class="text-muted"><i class="fa fa-calendar"></i> 09/2013 au 03/2015
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>Soutenir le Manager dans la gestion opérationnelle, administrative et financière
                                        du
                                        point de vente en veillant au respect concernant les niveaux de Qualité,
                                        Service,
                                        Propreté et Equipements.</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted wp5">
                            <div class="timeline-badge primary"><i class="fa fa-cutlery"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Mezzo di Pasta - Strasbourg</h3>

                                    <p>Assistant Manager
                                        <small class="text-muted"><i class="fa fa-calendar"></i> 08/2012 au 09/2013
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">

                                </div>
                            </div>
                        </li>
                        <li class="wp4 delay-05s">
                            <div class="timeline-badge primary"><i class="fa fa-cutlery"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Mezzo di Pasta - Colmar</h3>

                                    <p>Assistant Manager
                                        <small class="text-muted"><i class="fa fa-calendar"></i> 04/2010 au 08/2012
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted wp5 delay-05s">
                            <div class="timeline-badge"><i class="fa fa-cutlery"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Noï - Colmar</h3>

                                    <p>Employé Polyvalent
                                        <small class="text-muted"><i class="fa fa-calendar"></i> 12/2009 au 02/2010
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>Accueillir et servir les clients, encaisser leur commande, maintenir propre et
                                        réapprovisionner les présentoirs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="wp4 delay-1s">
                            <div class="timeline-badge info"><i class="fa fa-desktop"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">RMG Développement - Horbourg-Whir</h3>

                                    <p>Stagière
                                        <small class="text-muted"><i class="fa fa-calendar"></i> 10/2007</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>Maintenance informatique, dans le cadre d'une évaluation en milieu de travail</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase" id="formations">
        <div class="showcase-wrap">
            <div class="texture-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="device wp3">
                            <div class="device-content">
                                <div class="showcase-slider">
                                    <ul class="slides" id="showcaseSlider">
                                        <li class="studies">
                                            <h3 class="text-center">Développeur Informatique</h3>

                                            <p>Licence Profesionnelle</p>

                                            <p>UHA 4.0 -
                                                <small><i class="fa fa-calendar"></i> 09/2015</small>
                                            </p>
                                            <div class="studiesQuote">
                                                <p>"UHA 4.0 est installée au milieu
                                                    d'entreprises qui participent à la formation et qui partagent leurs
                                                    locaux avec les étudiants (cafet, accueil, salles de
                                                    réunions...).</p>

                                                <p>Toute la pédagogie est basée sur la réalisation de projets proposés
                                                    par les entreprises partenaires."</p>
                                            </div>
                                        </li>
                                        <li class="studies">
                                            <h3 class="text-center">Technicien d'Usinage</h3>

                                            <p>Baccalauréat Professionnel</p>

                                            <p>Lycée Polyvalent Blaise
                                                Pascal, Colmar.<br/>
                                                <small><i class="fa fa-calendar"></i> 2005 à 2007</small>
                                            </p>
                                            <div class="studiesQuote">
                                                <p>Mention Bien.</p>
                                            </div>
                                        </li>
                                        <li class="studies">
                                            <h3 class="text-center">Métiers de la Production Mécaniques
                                                Informatisées</h3>

                                            <p>Brevet D’Etudes Professionnelles</p>

                                            <p>Lycée Polyvalent Blaise
                                                Pascal, Colmar.<br/>
                                                <small><i class="fa fa-calendar"></i> 2003 à 2005</small>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1>Actuellement :</h1>

                        <p>Dans le cadre de la formation UHA 4.0 (Développeur Informatique), je suis à la recherche d'un
                            stage de février à septembre 2016. Puis d'un contrat de profesionnalisation.</p>
                        <blockquote class="team-quote">
                            <p>"La formation est décomposée en projets. Les cours sont remplacés par des topos, et du
                                coaching. Les étudiants sont présents toute la journée, dans un environnement
                                professionnel, au contact des entreprises partenaires de la formation." - UHA 4.0</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="download" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wp4">
                    <h1>Télécharger le CV!</h1>
                    <a href="http://tympanus.net/codrops/?p=22554" class="download-btn">Download <i
                                class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="screenshots-intro" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="post" action="index.php">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="First & Last Name" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="example@domain.com" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-sm-2 control-label">Message</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="4" name="message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="human" name="human"
                                       placeholder="Your Answer">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <! Will be used to display an alert to the user>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ include('CoreBundle:Default:footer.html.twig') }}
{% endblock %}

{% block menu %}
    {{ include('CoreBundle:Default:menu.html.twig') }}
{% endblock %}
